*{
    list-style: none;
    text-decoration: none;
    background-color: black;

    
}
body {
    font-family: 'lato', sans-serif;
    padding: 0;
    margin: 0; 
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
} 
a{
    color: white;
}
a:hover{
    color: blue;
}
nav{
    background-color: black; 
    height: 100px;
    width: 100%;
    color: white;
}
.topNavLink ul{
    display: flex;
    justify-content: flex-end;
}
.topNavLink ul li{
    margin-right: 30px;
}
.topNavLink ul li a{
    font-size: 20px;
}
.navMenuItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navMenuItem{
    flex-flow: row wrap;
}
.navMenuItem ul li{
    margin-right: 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.navMenuItem a img{
    margin-left: 10px;
}
/* 

.searchInput::placeholder{
    color: lightgray;
}  */

.seach{
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 100;
    /* background-color: ; */
} 

.searchInput{
    border: none;
    outline: none;
    background-color: white;
    height: 30px;
    width: 90%;
} 
.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
} 

.navBottom{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navBottom {
    flex-flow: row wrap;
}
.menuItem{
    margin-right: 20px;
    cursor: pointer; 
    color: lightgray;
    font-weight: 400; 
    font-size: 20;
} 
.navMenuItem a{
    margin-top: -20px;
}

.logo{
    margin-top: -10px !important;
    margin-left: -100px;
    width: 120px;
    height: 80px;
}
.logoText{
    margin-left: -150px;
    margin-bottom: -30px;
    width: 150px;
    height: 80px;
} 

.carousel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
} 

.navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40vh;
    left: 20px;
    font-weight: 700;
}
.navigation .next{
    right: 20px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40vh;
}

.navigation .nav-btn{
    background: white; 
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.carousel { 
    /* height: 80vh; */
    width: 100vw;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.carousel .item img{ 
    height: 100vh;
    width: 100vw; 
    transition: all 0.3s ease;
}

.item {
    position: absolute;
    display: none;
}

.main {
    display: block;
    width: 100%;
} 

.parentContainer {
    background-color: black; 
}

.headContainer{
    justify-content: center;
    align-items: center; 
    /* margin-right: 30px; */
    /* background-color: aqua;  */

}

.headContainer p{
    width: 20%; 
    height: 30px; 
    background-color: blue;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    margin-left: 620px;
    font-size: 20px;
}

.lilHead {
    color: white; 
    text-align: center;
}

h3{
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white; 
    /* align-items: center; */
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
} 

.link{
    color: blue; 
    justify-content: center;
    display: flex;
} 

.noteList ul li{
    color: white;  
}
 

footer{
    display: flex;
}

.footerLeft{
    display: flex;
    justify-content: space-between; 
    padding: 50px; 
    color: white;
} 

.fListItem{
    margin-left: -50px;
    margin-top: 10px;
}

.subHead .headList{ 
    color: white;
    margin-left: 20px; 
    font-size: 40;
}

.subHead .subList{
    color: white; 
    margin-left: -170px;
} 

.icons{
    font-size: 24px; 
    color: white;
} 
.fa{
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    font-size: 30px;
    width: 50px;
}

.block-container{
    display: grid;
    grid-template-columns: auto auto ;
    background-color: black ;
    padding: 80px;  
    width: 90%;
    border: 1px solid; 
    margin-left: -20px;
}
.blockItem{
    width: 100%;
    height: 300px;
    background-color: aqua; 
    border: 1px solid ;
    padding: -20px;
    font-size: 30px;
    text-align: center; 
} 

.block-container .blockItem img{
    width: 100%;
    height: 100%;
}



/* .blockitem:nth-child(1){
    background-color: red;
    background-image: url('benz ext 1.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
} */
/* 
.slider{           
    overflow: hidden;
}

.sliderItem{
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    
}   */
/* .sliderImg{
    .sliderWrapper{ 
        display: flex;
        width: 500vw;
        transition: all 1.5s ease-in-out;
        
    } 
    animation:plyr-fade-in .3s ease;
    
} */